mat-toolbar {
	display: flex;
	justify-content: center;
}

mat-toolbar > nav {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.clickable {
	display: inline-flex;
	align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

mat-toolbar > div {
	flex-grow: 1;
}