<header>
  <mat-toolbar>
    <div>
      <div routerLink="/" class="clickable" aria-label="Home">
        <mat-icon>home</mat-icon>
        <span>Pods Architecture Example</span>
      </div>
    </div>
    <nav aria-label="Main navigation">
      <a mat-button routerLink="/" routerLinkActive="selected">Home</a>
      <a mat-button routerLink="/login" routerLinkActive="selected">Login</a>
      <a mat-button routerLink="/about" routerLinkActive="selected">About</a>
    </nav>
  </mat-toolbar>
</header>
